<div class="col-md-2 col-lg-2 px-0 sidebar d-none d-md-block">
  <div class="text-center mini-container py-3">
    <img src="/uploads/logo_viettech.png" alt="VIETTECH" class="navbar-brand mb-0"
      style="max-width: 80%; height: auto;">
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link " href="/v1/api/admin/dashboard">
        <i class="fas fa-tachometer-alt"></i> Tổng quan
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/v1/api/admin/list">
        <i class="fas fa-box"></i> Sản phẩm
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">
        <i class="fas fa-shopping-cart"></i> Đơn hàng
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
        <i class="fas fa-users"></i> Khách hàng
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/v1/api/admin/categories">
        <i class="fas fa-tags"></i> Danh mục
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/reports">
        <i class="fas fa-chart-bar"></i> Báo cáo
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/settings">
        <i class="fas fa-cog"></i> Cài đặt
      </a>
    </li>
  </ul>
</div>